.Collapsible{
    background-color:#2A3D4D;
    color:hsla(208, 51%, 85%, 1);
    cursor: pointer;
    padding: 2rem 1rem;  
    width: 50%;
    max-width: 50%;
    /* height: 100px;
    max-height: 40vh; */
    border: none;
    text-align: left;
    /* margin-left: 10%; */
    /* margin-right: 10%; */
    outline: none;
    font-size: 32px;
    /* flex-basis: 100%; */
    /* margin-top: 10%; */
    /* position: relative; */
    line-height: calc(15px + 1rem);
    border-radius: 50px;
    /* background-color: #2A3D4D; */
    box-shadow: 0 15px 15px rgba(0,0,0,.6);
    text-align: center;
    margin: auto;
    font-family: RedHat, sans-serif;
    

    
    
    
    
}

.innerCollapse{

    font-size: calc(10px + 1vh);
    line-height: calc(15px + 2vh);
    font-family: RedHat, sans-serif;
}


/* .Collapsible:hover {
    
    border-width: 3px;
    border: 3px;
    border-color: black;
    border-style:groove;
  } */


@media (max-width: 425px){
    .Collapsible{
        
    }
}

  @media (max-width: 768px) {
        .Collapsible{
            max-width: 80%;
            width: 80%;
           
        
        
          
            
        }
        
  }


